#wholeModal{
    justify-content: column;
}

#error{
    color: red;
    font-size: 30px;
    
}

#CreateTitle {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    color: rgba(45,46,47,1);
    margin-left: 90px;
}

#createButton{
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin: 0;
    text-align: center;
   
}

#createButton:hover{
   opacity: 50%;
}

#form{
    display: flex;
    justify-content: column;
    padding-top: 24px;
    padding-bottom: 24px;
}


#reviewbox{
    padding: 24px;
    border: 1px solid rgba(200,201,202,1);
    border-radius: 4px;
    max-width: 630px;
    min-height: 250px;
}

#ratingInput{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#reviewInput{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 300px;
    height: 200px;
}

#attachPhoto{
    padding-top: 24px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#formButton {
    margin: 0;
    margin-top: 24px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    width: 50%;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
}

#formButton:hover{
    opacity: 50%;
}