.business-container {
    width: 30%;
    height: 30%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0px 22px 70px 4px;
    border: 1px solid #ebebeb;
    overflow:hidden;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#title{
    margin-top: 20px;
    display: flex;
    margin-bottom: -30px;
    justify-content: center;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    color: rgba(45,46,47,1);
   
}

#module{
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    padding: 40px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

#businessName{
    font-weight: Bold;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    border-radius: 3px;
    text-decoration: none;
    color: rgba(2,122,151,1);
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

#businessName:hover {
    text-decoration: underline;
    
}

#businessDescription {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#prevPicture{
    display: flex;
    justify-content: center;
    margin: auto;
    max-height: 150px;
    max-width: 100px;
}

#imageId{
    object-fit: contain;
}

#mainContainer{
    margin-bottom: 150px;
}

