#busName{
    /* color: #fff; */
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 56px;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    display: inline;
    margin-left: 10%;
}

#busDes{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin-left: 15%;
}

.coordinates{
    font-size: 12px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#reviewPicture{
    max-height: 200px;
    /* max-width: 50px; */
}

.scroller{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, .2) 0px 22px 70px 4px;
    border-radius: 8px;
    width: 85vw;
    max-width: 900px;
    margin: auto;
}

.images-container{
    display: flex;
    gap: 40px;
    overflow-x: auto;
}