#busName{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 56px;
    word-break: break-word;
    overflow-wrap: break-word;
    display: inline;
    margin-left: 10%;
    color: #fff;
}
#busDes{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-left: 12%;
    padding-top: 20px;
    color: rgba(45,46,47,1);
}

.coordinates{
    font-size: 12px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#aboutBusiness{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 28px;
    word-break: break-word;
    overflow-wrap: break-word;
    color: rgba(45,46,47,1);
    display: inline;
    margin-left: 10%;
}

#desContainer{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topPicture{
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    -webkit-text-stroke: 2px black;
}

.bottom-left{
    position: absolute;
    bottom: 40px;
    left: 16px;
}


#pictureontop{
    max-height: 40vw;
}

#reviewPicture{
    max-height: 200px;
}

.scroller{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, .2) 0px 22px 70px 4px;
    border-radius: 8px;
    width: 85vw;
    max-width: 900px;
    margin: auto;
}

.images-container{
    display: flex;
    gap: 40px;
    overflow-x: auto;
}

#createReviewout {
    margin-left: 10%;
    margin-bottom: 12px;
    margin-top: 20px;
}

#EditDelete{
    border-color: #ebebeb;
    color: #2d2e2f;
    padding: 8px;
    margin-top: 8px;
    border: 10px;
    float: right; 
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

#EditDelete:hover {
    opacity: 50%;
}




#reviewList{
    margin-bottom: 140px;
}